<h2 mat-dialog-title class="title">Tell me who you are and {{title.toLowerCase()}}</h2>
<div mat-dialog-content>
  <form name="authForm" #authForm="ngForm" class="main-content">
    <mat-form-field>
      <input name="authEmail" [(ngModel)]="email" #inEmail="ngModel" matInput placeholder="Email" required email>
    </mat-form-field>
    <mat-form-field *ngIf="data.dialogType === dialogType.SignUp">
      <input name="authUserName" [(ngModel)]="userName" #upNickname="ngModel" matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field>
      <input name="authPassword" [(ngModel)]="password" #upPassword="ngModel" matInput
        [type]="hidePass ? 'password' : 'text'" placeholder="Password" required>
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
  </form>
</div>
<div class="actions">
  <button mat-raised-button (click)="close()">Back</button>
  <button mat-raised-button color="primary"
    (click)="data.dialogType === dialogType.SignUp ? signUp() : signIn()">{{title}}</button>
</div>
<button mat-icon-button color="accent" (click)="showResetPassword = !showResetPassword">If you forgot password
  <mat-icon aria-label="Reset Password">email</mat-icon>
</button>
<div *ngIf="showResetPassword">
  <div class="send-email">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="sendToEmail" required>
      <mat-error *ngIf="sendToEmail.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-icon-button color="primary"
      [disabled]="sendToEmail.hasError('required') || sendToEmail.hasError('email')" matTooltip="Send"
      (click)="resetPassword(sendToEmail.value)">
      <mat-icon aria-label="Send">send</mat-icon>
    </button>
  </div>
</div>