<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="!editComment">
      <p>{{comment.body}}</p>
    </div>
    <div *ngIf="comment.author.id === currentUser?.id">
      <div *ngIf="editComment">
        <mat-form-field>
          <textarea [(ngModel)]="comment.body" matInput placeholder="Edit comment..."></textarea>
        </mat-form-field>
        <button mat-icon-button color="primary" matTooltip="Send" (click)="updateComment()">
          <mat-icon aria-label="Send">send</mat-icon>
        </button>
      </div>
      <button mat-icon-button color="primary" (click)="editComment=!editComment">
        <mat-icon aria-label="edit">edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="deleteComment()">
        <mat-icon aria-label="delete">delete</mat-icon>
      </button>
    </div>
  </mat-card-content>

  <mat-card-actions class="actions-buttons" align="end">
    <div class="dislike-comment">
      <button mat-icon-button color="primary" (click)="likeComment(false)">
        <mat-icon matBadge="{{commentDislikeReaction.length}}" matBadgeColor="accent" matBadgeSize="medium"
          [matBadgeHidden]="commentDislikeReaction.length === 0" aria-label="Dislike">thumb_down</mat-icon>
      </button>
      <div class="users-dislike-comment" *ngIf="commentDislikeReaction.length !== 0">
        <div *ngFor="let _dislikeReaction of commentDislikeReaction">
          <img mat-card-avatar src="{{_dislikeReaction.user.avatar}}" alt="Avatar">
          <div>
            {{_dislikeReaction.user.userName}}
          </div>
        </div>
      </div>
    </div>

    <div class="like-comment">
      <button mat-icon-button color="primary" (click)="likeComment(true)">
        <mat-icon matBadge="{{commentLikeReaction.length}}" matBadgeColor="accent" matBadgeSize="medium"
          [matBadgeHidden]="commentLikeReaction.length === 0" aria-label="Like">thumb_up</mat-icon>
      </button>
      <div class="users-like-comment" *ngIf="commentLikeReaction.length !== 0">
        <div *ngFor="let _likeReaction of commentLikeReaction">
          <img mat-card-avatar src="{{_likeReaction.user.avatar}}" alt="Avatar">
          <div>
            {{_likeReaction.user.userName}}
          </div>
        </div>
      </div>
    </div>
  </mat-card-actions>
</mat-card>