<mat-card [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <div *ngIf="!editPost">
      <p>{{post.body}}</p>
    </div>
    <div *ngIf="post.author.id === currentUser?.id">
      <div *ngIf="editPost">
        <mat-form-field>
          <textarea [(ngModel)]="post.body" matInput placeholder="Edit post..."></textarea>
        </mat-form-field>
        <button mat-icon-button color="primary" matTooltip="Send" (click)="updatePost()">
          <mat-icon aria-label="Send">send</mat-icon>
        </button>
      </div>
      <button mat-icon-button color="primary" (click)="editPost=!editPost">
        <mat-icon aria-label="edit">edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="deletePost()">
        <mat-icon aria-label="delete">delete</mat-icon>
      </button>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">

    <div class="dislike-post">
      <button mat-icon-button color="primary" (click)="likePost(false)">
        <mat-icon matBadge="{{postDislikeReaction.length}}" matBadgeColor="accent" matBadgeSize="medium"
          [matBadgeHidden]="postDislikeReaction.length === 0" aria-label="Dislike">thumb_down</mat-icon>
      </button>
      <div class="users-dislike-post" *ngIf="postDislikeReaction.length !== 0">
        <div *ngFor="let _dislikeReaction of postDislikeReaction">
          <img mat-card-avatar src="{{_dislikeReaction.user.avatar}}" alt="Avatar">
          <div>
            {{_dislikeReaction.user.userName}}
          </div>
        </div>
      </div>
    </div>

    <div class="like-post">
      <button mat-icon-button color="primary" (click)="likePost(true)">
        <mat-icon matBadge="{{postLikeReaction.length}}" matBadgeColor="accent" matBadgeSize="medium"
          [matBadgeHidden]="postLikeReaction.length === 0" aria-label="Like">thumb_up</mat-icon>
      </button>
      <div class="users-like-post" *ngIf="postLikeReaction.length !== 0">
        <div *ngFor="let _likeReaction of postLikeReaction">
          <img mat-card-avatar src="{{_likeReaction.user.avatar}}" alt="Avatar">
          <div>
            {{_likeReaction.user.userName}}
          </div>
        </div>
      </div>
    </div>
    <button mat-icon-button color="accent" (click)="showShare = !showShare">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <div *ngIf="showShare">
      <div class="send-email">
        <mat-form-field appearance="fill">
          <mat-label>Enter recipient's email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <button mat-icon-button color="primary" [disabled]="email.hasError('required') || email.hasError('email')"
          matTooltip="Send" (click)="sharePost(email.value)">
          <mat-icon aria-label="Send">send</mat-icon>
        </button>
      </div>
    </div>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser"
      [postId]="post.id" (deletedComment)="deletedCommentEvent($event)">
    </app-comment>
  </div>
</mat-card>