.dislike-post, .like-post, .dislike-comment, .like-comment  {
    position: relative;
  }

  .users-dislike-post, .users-like-post, .users-dislike-comment, .users-like-comment {
    display: none;
    min-width: 80px;
    flex-direction: column;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    overflow-x: hidden;
    margin: 5px auto;
    padding: 5px 0;
    background: #eeeeee;
    text-align: center;
    position: absolute;
    z-index: 2;
  }

  .dislike-post:hover > button + .users-dislike-post {
    display: flex;
    z-index: 888;
  }
  
  .like-post:hover > button + .users-like-post {
    display: flex;
    z-index: 888;
  }

  .dislike-comment:hover > button + .users-dislike-comment {
    display: flex;
    z-index: 888;
  }
  
  .like-comment:hover > button + .users-like-comment {
    display: flex;
    z-index: 888;
  }
  .send-email {
    background: rgba(255, 255, 255, 0.95);
    flex-direction: row;
    position: absolute;
    z-index: 889;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    display: flex;
  }